﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名：@Html.TextBox("name")</p>
<p>
    帳號：@Html.TextBox("account")
</p>
<p>
    密碼：@Html.Password("password")
</p>
<p>
    性別：
    @Html.RadioButton("male", "0")  Male
    @Html.RadioButton("female", "0")  Female
</p>


<p>
    興趣：
    @Html.CheckBox("swim", false) 游泳
    @Html.CheckBox("read", false) 閱讀
    @Html.CheckBox("watch movie", false) 看電影

</p>

<p>自我介紹：@Html.TextArea("message") </p>
<button>提交</button>

