﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p>姓名：<input type="text" name="firstname" value="" /><br></p>
<p>帳號：<input type="text" name="firstname" value="" /><br></p>
<p>密碼：<input type="text" name="firstname" value="" /><br></p>
<p>
    性別：<input type="radio" name="gender" value="A"> Male
    <input type="radio" name="gender" value="B"> Female
</p>


<p> 興趣：<input type="checkbox" name="item" value="A"> 游泳
    <input type="checkbox" name="item" value="A"> 閱讀
    <input type="checkbox" name="item" value="A"> 看電影</p>

<p>自我介紹：<textarea name="message" rows="10" cols="30"></textarea> </p>
<button>提交</button>

