﻿
@model Web1.ViewModel.BMIData

<h2>Index</h2>

<h2>BMI計算</h2>
<p>
    BMI = 體重 (kg) / 身高 (m2)
</p>
<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.height)
    @Html.TextBoxFor(m => m.height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.height)<br />

    @Html.DisplayNameFor(m => m.weight)
    @Html.TextBoxFor(m => m.weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.weight)<br />

    <p><input type="submit" name="name" value="送出" /></p>

</form>


<p>計算結果：@Model.Result </p>
<p>等級：@Model.Level </p>
